{{#partial "content"}}
    <form action="/squads/new" method="post">
        <h4>Create a new Squad..</h4>
        <hr>
        <label for="name">Name</label> &nbsp;&nbsp; :
        <input type="text" name="name" id="name"><br><br>
        <label for="age">Max Size</label>&nbsp;&nbsp;
        <input type="number" name="size" id="size"><br><br>
        <label for="age">Cause</label>&nbsp;&nbsp;
        <input type="text" name="cause" id="cause"><br><br>
        <button type="submit" class="btn btn-success btn-lg">Create</button>
    </form>


{{/partial}}