{{#partial "content"}}

<h3 class="title">Welcome to Hero Squad </h3>
<p>What do you like to do?</p>
<p>Add a new Her? alright: <a href="/create/hero"><button class="btn btn-success btn-lg">Create Hero</button></a> </p>
<p>Add a new Squad? alright:  <a href="/create/squad"><button class="btn btn-success btn-lg">Create Squad</button></a> </p>

{{/partial}}
{{> layout.hbs}}